extends ../layout

block content
	div
		.text-center
			h1.display-4 Add your favorite Movie
			hr
		.row
			.col
				.form-group
					label(for="title") Name
					input#title.form-control(type="text" name="title" placeholder='Name')
				.form-group
					label(for="releaseYear") Year
					input#releaseYear.form-control(type="text" name="releaseYear" placeholder='Year')
				.form-group
					label(for='format') Format
					select#format.form-control(name="format")
						option(value='VHS') VHS
						option(value='DVD') DVD
						option(value='Blu-Ray') Blu-Ray
				.form-group
					label Actors:
					ul(name='actors')#actors-list.d-flex.flex-wrap

					.d-flex.justify-content-between
						input#actor.form-control(type="text" placeholder='Actor' onfocus="this.value=''" name='stars')
						input.btn.btn-outline-success.btn-sm.ml-3(type="button", value="Add Actor" onclick='addActor()')
				button.btn.btn-success.mb-2(onclick='addMovie()') Add Movie
			.d-flex.flex-column.justify-content-center
				| OR
			.col.d-flex.flex-column.justify-content-center
				form(action="/addMovies", method="post" enctype='multipart/form-data')
					.form-group
						if error
							.alert.alert-danger.text-center= error
						input(type="file", name="moviefile")
						button.btn.btn-success.mt-2(type='submit') Add Movies
				

	script(src="/js/add.js")